@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */

:root {
    all: unset;
  }
:root{
    font-family: 'Segoe UI', sans-serif;
}
.custom-codemirror .cm-content {
  font-size: 1.125rem; /* This is equivalent to text-lg in Tailwind */
}
  